@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace);

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  padding: 5em 1em;
  background-image: url(http://lh5.googleusercontent.com/-WS8PXb1VNBM/UyoVSVKkppI/AAAAAAAAA2Q/nVNI3smYtcI/w540-h300-no/kids.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  text-align: center;
  font-size: 275%;
  font-family: 'Covered By Your Grace', cursive;
  font-weight: 300;
  margin-top: -1em;
  text-shadow: 0 2px 1px white;
}

#box {
  margin: auto;
  width: 50em;
  height: 100%;
  white-space: nowrap;
}
@media all and (max-width: 52em) {
  #box {
    width: 100%;
  }
}

#center {
  vertical-align: middle;
  display: inline-block;
  white-space: normal;
  width: 100%;
}

#box:after {
  content: "";
  width: 1px;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
  margin-right: -10px;
}

table {
  background-color: white;
  padding: 1em;
  width: 100%;
}
table, table * {
  border-color: #27ae60 !important;
}
table th {
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  color: white;
  background-color: #27ae60;
  position: relative;
}
table th:after {
  content: "";
  display: block;
  height: 5px;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #16a085;
  position: absolute;
}

#credits {
  text-align: right;
  color: white;
}
#credits a {
  color: #16a085;
  text-decoration: none;
}
#credits a:hover {
  text-decoration: underline;
}
